html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    min-height: 100vh;
    padding-bottom: 50px;
    position: relative;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.row.content {
    min-height: calc(100vh - 50px);
}

.sidenav {
    background-color: #f1f1f1;
    min-height: 100%;
    padding-top: 15px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.nav-pills .nav-link.active {
    background-color: #337AB7;
    color: #fff;
}

.footer {
    background-color: #555;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bill-result {
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
        position: relative;
        width: 100%;
        position: static;
    }

    .row.content {
        height: auto;
        min-height: 0;
        padding-top: 15px;
    }
}
